.con{
    overflow-y: scroll;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:1rem;
height:0px
}
 
::-webkit-scrollbar-track {
background-color: rgba(0,0,0,0.2);
}
 
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 1rem;
background-color:#4caf50d4;
}
 
::-webkit-scrollbar-thumb:hover{
background-color:#3fb443;
}
 
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}
 
::-webkit-scrollbar{
width: 0.4rem;
}