.Post{
    width: 98%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 60%;
    /* background-color: rgba(0,0,0,0.2); */
    margin: 1rem 0.5rem auto;
    border-radius: 0.5rem;
  
}
.block{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 0.5rem;
    height: 2rem;
    margin: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f1eeeebe;
    border-radius: 0.5rem;
}
.prof{
    margin-left: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
}



.button{
    width: 12%;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    
  }
  button{
      font-weight: 600;
      color: #382b22;
      text-transform: uppercase;
      padding: 0.2em 0.5em;
      background-color: #ffffffbe;
      border: 2px solid #b18597;
      border-radius: 0.75em;
      transition: transform 0.15s;
      transform-style: preserve-3d;
    }
    button::before {
      position: absolute;
      content: "";
      /* width: 100%;
      height: 100%; */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      /* background: #f9c4d2; */
      border-radius: inherit;
      /* box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2; */
      transform: translate3d(0, 0.2em, -0.2em);
      transition: transform 0.15s, box-shadow 0.15s;
    }
    button:hover {
      background: #f3eaeaa6;
      transform: translate(0, 0.1em);
    }
    button:hover::before {
      /* box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2; */
      transform: translate3d(0, 0.1em, -0.1em);
    }
.like{
    background-color: rgba(250, 235, 215, 0.192);
    padding: 0.1em 0.6em;
    border-radius: 8px;
    margin-right: 0.3rem;
    font-weight: bold;
}
.statistic{
    display: flex;
    justify-content: center;
    align-items: center;
}

